@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

span{
    text-align: center;
    display: block;
}
.moayad{
    color: white;
    margin-left: 50px;
}

h1{
margin-left: 500px;    
    color: rgb(8, 0, 0);
}
b{
    margin-top: 100px;
}

body{
  background-image:url("manar.jpeg") ;

}  

img{
  margin-right: 100px;
}



.header{
    position: fixed;
   background-color:#00188F;
       background-image: linear-gradient(#00188F, #000);
   color:white;
   font-style:italic;
   font-family:arial;
   font-weight:bold;
   align-items:center;
   text-align:center;
   justify-content:space-between;
   display:flex;
   padding: 25px;
   width:97%;
   border-bottom-left-radius:50px;
   border-bottom-right-radius:50px;}
body{
margin:0px;
}
.title{
    text-align: center;
    font-size: xx-large;

}
.soso{
    margin-left: 150px;
    margin-bottom: -1000;

}
.mo{
    margin-left: 20px;
   font-weight: bold;
}


  .sara{
    margin-top: 150px;
  }

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    position:fixed;
    top: 130px;
    left: 0;
    width: 85px;
    height: 80%;
    transition: .3s;
    scrollbar-width: none;
    overflow: hidden scroll;
    background: #ffffff12;
    -ms-overflow-style: none;
    padding: 20px 30px 20px 0;
    backdrop-filter: blur(5px);
    box-shadow: 8px 0px 9px 0px #00000014;
    border-radius: 30px;
}

.menu:hover {
    width: 260px;
}

.menu:hover li span:nth-child(2) {
    display: block;
}

.menu-content li {
    list-style: none;
    border-radius: 0px 50px 50px 0;
    transition: .3s;
    margin-bottom: 20px;
    padding-left: 20px;
}

.menu-content li:hover {
    background: #00188F;
}

.menu-content li span:nth-child(2) {
    display: none;
}

a {
    text-decoration: none;
    color: rgb(213, 213, 213);
    display: flex;
    align-items: center;
    font-family: 'calibri';
}

.material-symbols-outlined {
    padding: 10px;
    font-size: 25px;
    margin-right: 10px;
    border-radius: 50%;
    background: #00188F;
}
ul{
    font-weight: bold;
    font-size: 20px;
}   
p{
    font-weight: bold;
    font-size: 20px;
}
pre{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color: red;
}
.hoss{
    border-radius: 25px;
}


